.star {
  margin: 50px 0;
  position: relative;
  display: block;
  width: 0;
  height: 0;

  /* Compensated for scale(0.7) */
  border-left: 71.5px solid rgba(0, 0, 0, 0);    /* 50px expected */
  border-right: 71.5px solid rgba(0, 0, 0, 0);   /* 50px expected */
  border-bottom: 143px solid rgb(255, 255, 0);  /* 100px expected */

  transform: rotate(35deg);
}

.star::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;

  border-left: 43px solid transparent;
  border-right: 43px solid transparent;
  border-bottom: 114px solid rgb(255, 255, 0);

  top: -80px;
  left: -71.5px;
  transform: rotate(-35deg);
}

.star::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;

  border-left: 143px solid transparent;
  border-right: 143px solid transparent;
  border-bottom: 143px solid rgb(255, 255, 0);

  top: 3px;
  left: -143px;
  transform: rotate(-70deg);
}
