.star {
  margin: 50px 0;
  position: relative;
  display: block;
  width: 0;
  height: 0;

  /* Compensate for scale(0.7) */
  border-left: 71.5px solid transparent;   /* 50 / 0.7 */
  border-right: 71.5px solid transparent;  /* 50 / 0.7 */
  border-bottom: 143px solid rgb(255, 255, 0); /* 100 / 0.7 */

  transform: rotate(35deg);
}

.star:before {
  border-bottom: 80px solid yellow;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star:after {
  position: absolute;
  display: block;
  color: yellow;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 100px solid rgb(255, 255, 0);
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
